body {
    background-color: #222527;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #222527;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #222527;
}

.box {
    width: fill;
    height: 300px;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
}

.msg-room {
    width: fill;
    height: 400px;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
}


/* CHAT BOX CONTAINER */
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

/* MESSAGE BOX DISPLAY */
.msg-box {
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
}

/* ENTER MESSAGE BOX BUTTON */
.enter-btn {
    height: 50px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 20px;
    color: #f6f5da;
    background-color: #171717;
    text-align: center;
    display: block;
}
